.hero-section-img{
    height: 220px;
    width: 220px;
    margin: 10px ;
    margin-left: 25px;
    padding: 10px;
    border-radius: 20px;
}
.hero-section-img:hover{
    transform: scale(1.1);
    transition: 0.5s ease-in-out;
}

/* .hero-categories-container{
    background-color: white;
    border-radius: 15px;
    width: 240px;
    margin: 20px ; 
} */