.categories-section {
    margin: 20px;
    background-color: white;
    padding: 10px;
    border-radius: 15px;
    /* border: 3px solid rgb(3, 171, 3); */
  }
  
  .categories-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 230px;
    padding: 5px;
  }
  
  .category-image {
    width: 210px;
    height: 210px;
    /* object-fit: cover; */
    border-radius: 15px;
  }
  
  .category-image:hover{
    transform: scale(1.1);
    transition: 0.5s ease-in-out;
  }
  .category-name {
    font-size: 1.2em;
    margin-top: 10px;
  }
  
  .category-timing {
    color: gray;
    margin-top: 5px;
  }

  @media (max-width: 768px) {
    .categories-container {
        width: 180px;
    }

    .category-image {
        width: 160px;
        height: 160px;
    }

    .category-name {
        font-size: 12px;
    }

    .category-timing {
        font-size: 0.9em;
    }
}


@media (max-width: 480px) {
    .categories-container {
        width: 150px;
    }

    .category-image {
        width: 130px;
        height: 130px;
    }

    .category-name {
        font-size: 0.9em;
    }

    .category-timing {
        font-size: 0.8em;
    }
}