.heading{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.recipe-img{ 
    width: 50%;
}

.recipe-description{
    font-size: 25px;
    width: 75%;
    text-align: justify;
}

.ingredients-container{
    display: flex;
    justify-content: center ;
    flex-wrap: wrap;
}

.ingredient-list{
   width: 40%;
   height: 92vh;
   font-size: 14px;
   box-shadow: 1px 2px 1px 2px gray;
}
 
.ingredient{
    padding: 20px;
}

.ingredient-img{
    height: 92vh;
    width: 40%;
}

.recipe{
    background-color: rgb(172, 171, 169);
    width: 60% ;
    text-align:justify;
    font-family:Arial, Helvetica, sans-serif;
}
