.heading{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.recipe-img{ 
    width: 55%;
}

.recipe-description{
    font-size: 25px;
    text-align: justify;
    margin: 10px 250px;
}

.ingredients-container{
    display: flex;
    justify-content: center ;
    flex-wrap: wrap;
}

.ingredient-list{
   width: 40%;
   height: 92vh;
   font-size: 14px;
   box-shadow: 1px 2px 1px 2px gray;
}
 
.ingredient{
    padding: 20px;
}

.ingredient-img{
    height: 92vh;
    width: 40%;
}

.recipe{
    background-color: rgb(172, 171, 169);
    margin: 20px 300px;
    text-align:justify;
    font-family:Arial, Helvetica, sans-serif;
}

.input-1 {
    width: 100%;  
}

.review-page{
    margin: 20px auto;
    width: 20%;
}
