.card-container {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  width: 300px;
  height: 410px;
  /* padding: 10px; */
  /* border-radius: 10px; */
  /* border: 1px solid rgba(0, 0, 0, 0.3); */
  /* position: relative; */
  cursor: pointer;
  /* margin: 10px; */

}

.card-container:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: 0.2s;

}

.like-image {
  position: absolute;
  height: 30px;
  right: 15px;
  top: 210px;
}

.card-title {
  /* font-size: 20px; */
  /* font-weight: bold; */
  /* text-align: center; */
  /* margin-top: 10px; */
  font-family: sans-serif;

}

.card-image {
  height: 190px;
  width: 280px;
  /* border-radius: 10px; */
  /* object-fit: cover; */
}

.card-image:hover {
  transform: scale(1.1);
  transition: 0.5s ease-in-out;

}

.card-disciption {
  /* font-size: 17px; */
  font-family: "Montserrat Alternates", sans-serif;
  /* margin-top: 15px; */
  text-align: justify;
}

.img-clock {
  height: 20px;
  /* position: absolute; */
}

.time-container {
  /* display: flex; */
  /* align-items: center; */
  position: absolute;
  bottom: 15px;
}

.time {
  /* margin-left: 30px; */
  font-family: sans-serif;
  /* font-weight: bold; */

}

.category-card-button {

  position: absolute;
  right: 10px;
  bottom: 10px;
  text-decoration: none;
  font-size: 15px;
  padding: 6px 22px;
  border-radius: 15px;
  color: white;
  background-color: rgb(31, 28, 28);
  font-weight: bold;

}

.category-card-button:hover {
  cursor: pointer;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%), radial-gradient(at top center, rgba(255, 255, 255, 0.40) 0%, rgba(0, 0, 0, 0.40) 120%) #989898;
  background-blend-mode: multiply, multiply;
}