.title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.recipe-img{
    height: 60vh;
    width: 50%;
}

.recipe-description{
    font-size: 30px;
    margin: 10px 100px;
}

.ingredients-container{
    display: flex;
    justify-content: center;
}

.ingredient-list{
   width: 40%;
   font-size: 15px;
   box-shadow: 1px 2px 1px 2px gray;
}

.recipe{
    margin: 20px 300px;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.input-1{
    width: 300px;
}

.review-page{
    background-color: aquamarine;
    margin: 20px auto;
}