.title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.recipe-description{
    font-size: 30px;
    
    margin: 10px 100px;
}

.ingredients-container{
    display: flex;
    justify-content: center;
}

.ingredient-list{
   font-size: 15px;
}

.steps{
    font-size: 20px;
    margin: 10px 200px;
    font-family:monospace ;
}

.recipe{
    margin: 20px 200px;
    font-size: 20px;
}

.input-1{
    width: 300px;
}

.review-page{
    background-color: aquamarine;
    margin: 20px auto;
}