.main-container{



display: flex;
justify-content: center;
align-items: center;

}
.image-2{
height: 500px;
width: 50%;
margin: 0px 50px;
border-radius: 10px;

}
.title{
    background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
    text-align: center;
    height: 60px;
    width: 90%;
    margin: 30px auto;
    border-radius: 10px;
}
.discription-container{
    width: 75%;
    font-size: 20px;
    font-weight: 600;
    margin: 0 auto;
  
}
.Ingredients-title{
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
    background-blend-mode: multiply,multiply;
    text-align: center;
    height: 60px;
    width: 50%;
    margin: 30px auto;
    border-radius: 10px;

}
.Ingredients-information{
    background-image: linear-gradient(to right, #868f96 0%, #596164 100%);
    width: 750px;
    margin: 10px auto;
    font-size: 20px;
    font-weight: 500;
    border-radius: 10px;
    padding: 30px;
    color: white;
    
}


.cooking-method{
    background-image: linear-gradient(to right, #868f96 0%, #596164 100%);
    width: 750px;
    margin: 10px auto;
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
    padding: 30px;
    color: white;
}
.nutration{
   background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
    width: 750px;
    margin: 10px auto;
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
    padding: 30px;
    color: white;
}
.recipe-viedo{
    width: 660px;
    border-radius: 10px;
    margin: 0px auto;
 
}
