
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Orbitron:wght@400..900&display=swap');
.logo{
    height: 70px;
    margin-left: 20px;
    border-radius: 10px;
}
.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 80px;
    width: 100%;
    background-color:#F5E0D2 ;
    border-bottom: 1px solid rgba(99, 92, 92, 0.1);
    box-shadow: 0 0 10px gray;
    position: sticky;
    top: 0;
    z-index: 10;
    font-family: "Montserrat Alternates", sans-serif;
}
.logo-container{
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.menuicon{
    height: 25px; 
    margin-left: 40px;
     
}
/* for small size */
.menu-icon-container{
    height: 250px;
    background-color: gray;
    border-radius: 10px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: start;
    color: white;
     justify-content: space-evenly;
    padding-left: 20px;
}
.menu-navbar-item{
    color: white;
    text-decoration: none;

}
.menu-sign-up {
    color: black;
    width:100px;
    font-size: 15px;
    padding: 5px 15px;
   background-color: rgb(150, 223, 150);
    text-decoration: none;
    border: none;
    border-radius: 10px;
    border: 2px solid rgb(62, 146, 62);
    font-weight: bold;
}
/*    */
.nav-item-container{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
   
}
.nav-item{
    font-size: 19px;
    text-decoration: none;
    color: black;
    font-weight: bold;
   
}
.nav-item:hover{
    color: red;
    
}
.login{
    padding: 10px 20px;
    margin: 0 10px;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 15px;
    color: white;
    background-color: rgb(31, 28, 28);
  
  
}
.login:hover{
    cursor: pointer;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%), radial-gradient(at top center, rgba(255, 255, 255, 0.40) 0%, rgba(0, 0, 0, 0.40) 120%) #989898;
    background-blend-mode: multiply, multiply;
  }


@media screen and (min-width: 993px) and (max-width: 1400px){
    .menuicon{
       
        display: none; 
    }
    .menu-icon-container{
       display: none;
    }
    
}

@media screen and (min-width: 769px) and (max-width: 992px){
  
    .login{
        padding: 7px 15px;
    }
    .menuicon{
       
        display: none; 
    }
    .menu-icon-container{
        display: none;
     }
}

@media screen and (min-width: 600px) and (max-width: 768px){
      
    .logo{
        height: 60px;
    }

    .navbar-container{
      
        height: 70px;
        
    }
    .nav-item-container{
        width: 60%; 
    }
  
    .login{
        padding: 5px 10px;
        font-size:14px;
    }
    .nav-item{
        font-size: 16px;
        
    }
    .menuicon{
       
        display: none; 
    }
    .menu-icon-container{
        display: none;
     }


}

@media screen and (min-width: 500px) and (max-width: 599px){

     
    .logo{
        height: 50px;
        margin-left: 10px;
    }

    .navbar-container{
      
        height: 65px;  
    }
    .nav-item-container{
        width: 65%; 
    }
  
    .login{
        padding: 5px 8px;
        font-size:13px;
    }
    .nav-item{
        font-size: 15px;
    }
    .menuicon{
       
        display: none; 
    }
    .menu-icon-container{
        display: none;
     }
}
@media screen and (max-width: 500px) {

    
    .logo{
        height: 50px;
         position: fixed;
        left:10px;
       top: 5px;
        
       
    }
    .menuicon{
    height: 30px;
    position: fixed;
    right:20px;
    top: 15px;
    
}

    .navbar-container{
      
        height: 60px;  
    }
    .nav-item-container{
       display: none;
    }
  
    .login{
       display: none;
    }
    .navbar-container{
        height: 55px;
        
        
    }
   

   
}