.about-container {
    background-color: aliceblue;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url(https://images.pexels.com/photos/239975/pexels-photo-239975.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: contain;
    height: 100vh;
    width: 100%;
    margin: 0 auto;
    height: 400px;
}

.paragraph-image-container {
    width: 1500px;
    height: 550px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;

}

.image-container {
    width: 600px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;


}

.paragraph-container {
    width: 550px;
    height: 500px;
}

.staff-image {
    height: 500px;
    border-radius: 30px;
    box-shadow: 10px 10px 25px 1px#b3b3b3;
}

.staff-image:hover {
background-color: #faebeb;
    transition: 1s;

}

.about-title {
    font-size: 50px;
    position: absolute;
    bottom: 400px;
    left: 600px;
    border-radius: 40px;
    padding: 10px;
    width: 300px;
    text-align: center;
    color: white;
}

.paragraph-content {
    font-size: 20px;
    font-family: "Orbitron", sans-serif;
    font-family: "Montserrat Alternates", sans-serif;
}

.social-media-icon-main-container {
    height: 50px;

    display: flex;
    justify-content: end;

}

.social-media-icon-container {

    width: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 250px;
}

.social-media-icon {
    height: 35px;
    cursor: pointer;

}
.our-team-title{
    text-align: center;
}
/* .our-team-container{
    height: 800px;
    background-color: tomato;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.team-member{
    height: 350px;
    width: 300px;
    background-color: aqua;
    margin: 10px;
} */