body{
    background-color: aliceblue;
}


.about-container{
    position: relative;


    background-color: aliceblue;
}

.restaurant-img{
    height: 400px;
    width: 1500px;
   
    filter: blur(2px); 
    -webkit-filter: blur(2px);
}
.restaurant-dish-img{
    height: 100px;
    border-radius: 100%;
    position:absolute;
    bottom: 50px;
    left: 200px;
    filter: blur(0.5px);
    border: solid 1px black;



}
.about-title{
    font-size: 50px;
    position:absolute;
    bottom: 300px;
    left: 600px ;
    border-radius: 40px;
    padding: 10px;
    width: 300px;
    text-align: center;
    background-image: linear-gradient(to top, #ebc0fd 0%, #d9ded8 100%);


}
.paragraph-container{
    height: 500px;
    width: 1000px ;
    margin: 0 auto;
    
   
    
}
.paragraph-content{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}